# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextDevelopment
pom.xml.backup
pom.xml.branch
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs and Editors
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.factorypath
bin/
.metadata/
.recommenders/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
logs/

# OS-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environments & Secrets
.env
.env.local
.env.*.local
secrets.properties
